In [32]:

import numpy as np

In [33]:

np.random.seed(52)  
heights = np.random.normal(loc=75, scale=13, size=40)

In [34]:

sample_mean = np.mean(heights)
print("Sample Mean (Point Estimate):", sample_mean)

Sample Mean (Point Estimate): 76.47938696596096

In [35]:
import numpy as np
import scipy.stats as stats

In [36]:

np.random.seed(52) 
heights = np.random.normal(loc=75, scale=13, size=40)

In [37]:

sample_mean = np.mean(heights)
sample_std = np.std(heights, ddof=1)

In [38]:
confidence_level = 0.97

In [39]:
margin_of_error = stats.t.ppf((1 + confidence_level) / 2, len(heights) - 1) * (sample_std / np.sqrt(len(heights)))

In [40]:
lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

In [41]:
print(f"Confidence Interval ({confidence_level*100}%): [{lower_bound}, {upper_bound}]")

Confidence Interval (97.0%): [72.41955484528535, 80.53921908663656]

In [42]:
import numpy as np
from scipy import stats

In [43]:
np.random.seed(52)  
group1_scores = np.random.normal(loc=80, scale=5, size=40)
group2_scores = np.random.normal(loc=85, scale=5, size=40)

In [44]:
t_statistic, p_value = stats.ttest_ind(group1_scores, group2_scores)

In [45]:

alpha = 0.05

In [46]:
print("T-test Results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-test Results:
T-statistic: -5.388886002230819
P-value: 7.304747443948321e-07

In [47]:
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between the means of the two groups.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the means of the two groups.")

Reject the null hypothesis. There is a significant difference between the means of the two groups.

In [48]:
import numpy as np
from scipy import stats

In [49]:
group1 = np.array([20, 22, 25, 28, 30, 32, 34, 35, 38, 40,42,45])
group2 = np.array([18, 21, 24, 27, 29, 31, 33, 36, 37, 39,41,43])

In [50]:
t_statistic_2tail, p_value_2tail = stats.ttest_ind(group1, group2)

In [51]:
t_statistic_1tail_right, p_value_1tail_right = stats.ttest_ind(group1, group2, alternative='greater')

In [52]:
t_statistic_1tail_left, p_value_1tail_left = stats.ttest_ind(group1, group2, alternative='less')

In [53]:
print("Two-tailed Test:")
print("T-statistic:", t_statistic_2tail)
print("P-value:", p_value_2tail)

Two-tailed Test:
T-statistic: 0.30729767136953867
P-value: 0.7615068775544185

In [54]:
print("\nOne-tailed Test (Right-tailed):")
print("T-statistic:", t_statistic_1tail_right)
print("P-value:", p_value_1tail_right)

One-tailed Test (Right-tailed):
T-statistic: 0.30729767136953867
P-value: 0.38075343877720924

In [55]:
print("\nOne-tailed Test (Left-tailed):")
print("T-statistic:", t_statistic_1tail_left)
print("P-value:", p_value_1tail_left)

One-tailed Test (Left-tailed):
T-statistic: 0.30729767136953867
P-value: 0.6192465612227908